*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #c9c9c9;
  /* overflow-x: hidden;
  font-family: 'Raleway',sans-serif; */
}

.header{
  color: #ffff;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 25px;
}

.actions{
  /* background-color: #279c23; */
  margin: auto;
display: flex;
justify-content: space-around;
}

.actions button{
  width: 250px;
  height: 40px;
  /* background: var(--red); */
  border-radius: 24px;
  border: none;
  outline: none;
  font-size: 22px;
  /* color: var(--wt); */
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: .5s;
}

.actions button:hover{
  transform: scale(1.05);
}

.add{
  background-color: #279c23 ;
}

.delete{
  background-color: #23499c ;
}

.clear{
  background-color: #d80404 ;
}

.cards{
  padding-top: 100px;
}

.cards img{
  width: 150px;
}

.pokemon{
  margin: auto;
display: flex;
justify-content: space-around;
}
